body {
  margin: 0;
  font-size: 16px;
}

a {
  color: #00bcd4;
  font-weight: bold;
  text-decoration: none;
  transition: color 0.9s;
}

a:hover {
  color: blue !important;
}

.text-center {
  text-align: center;
}

.top-bar {
  padding: 10px 15px;
  background-color: #E5E5E5;
}

.top-bar::after {
  content: '';
  display: block;
  clear: both;
}

.top-bar-left {
  float: left;
  font-size: 1.5em;
 
}

.top-bar-right {
  float: right;
}

.top-bar a,
.nav a {
  margin: 0 8px;
  color: #4c5f74;
}

.container {
  margin: 0 auto;
  text-align: center;
  width: 100%;
}

.card-heading {
  padding: 16px;
}

.field-line, .button-line {
  padding: 16px;
  color:black;
  opacity: none;
}
.field-line div div hr{
  bottom:0 !important;
 }
 .field-line div label{
   color: #4c5f74 !important;
 }
 .field-line div label div hr{
  color: #4c5f74 !important;
}

.error-message {
  padding: 0 16px;
  color: tomato;
}

.success-message {
  padding: 0 16px;
  color: green;
}

.hero {
  height: 500px;
  width: 100%;
  background-size: cover;
  background-position: center;
  position: relative;
}

.hero::after {
  content: "";
  display: block;
  opacity: 0.2;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: black;
}

.hero * {
  position: relative;
  z-index: 2;
}


.hero h1 {
  font-size: 60px;
  padding-top: 140px;
  margin-top: 0;
}

.field-line div div hr{
  bottom:0 !important;
}

