.hero {
  height: 500px;
  background-size: cover;
  background-position: center;
  position: relative;
}

.hero::after {
  content: "";
  display: block;
  opacity: 0.2;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: black;
}

.hero * {
  position: relative;
  z-index: 2;
}

.hero h1, .hero h2 {
  color: white;
}

.hero p {
  color: black;
  font-weight: bold;
}

.hero h1 {
  font-size: 60px;
  padding-top: 140px;
  margin-top: 0;
}

.hero div {
  border: 12px solid white;
  background-color: white;
  opacity: 0.8;
  width: 700px;
  margin: auto;
}
